#
# Deploy to AWS ElasticBeanstalk
#

packages:
    yum:
        git: []
        cairo: []
        libjpeg-turbo: []
        zlib-devel: []
        openldap-devel: []
        cyrus-sasl-devel: []
        swig: []
        libxslt-devel: []
        libtool: []
        libffi-dev: []
    rubygems:
        sass: '3.4.23'

commands:
    00_set_compilers:
        cwd: /tmp
        command: 'update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 50 && update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 50'
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'sudo curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash -'
    02_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'sudo yum install -y nodejs npm'
    03_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'sudo npm install -g n && n stable'
    04_grunt_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/grunt ] && echo "grunt not installed"'
        command: 'sudo npm install -g grunt-cli'


files:
    "/opt/python/log/badgr_events.log":
       mode: "000777"
       owner: ec2-user
       group: ec2-user
       content: |
           # Badgr Events log file
    "/opt/python/log/catchall.log":
       mode: "000777"
       owner: ec2-user
       group: ec2-user
       content: |
           # Catchall log file


option_settings:
    "aws:elasticbeanstalk:application:environment":
        # your settings module here
        DJANGO_SETTINGS_MODULE: "apps.mainsite.settings"

        # add the path to the root of your django app
        PYTHONPATH: "/opt/python/current/app/:$PYTHONPATH"

        # add path to ruby gems
        PATH: "/opt/elasticbeanstalk/lib/ruby/bin/:$PATH"

    "aws:elasticbeanstalk:container:python":
        # path to your wsgi.py file from the root folder of your application
        WSGIPath: apps/mainsite/wsgi.py

    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "staticfiles/"


# These commands will be run just before the application is started
container_commands:

    01_migrate:
        command: 'python manage.py migrate --noinput'
        leader_only: true

    02_createadmin:
        command: 'python manage.py createadmin'
        leader_only: true

    # You can define a build script in packages.json (using gulp, grunt...) to build your client side files
    03_npm_build:
        command: 'npm install && npm run build'

    04_collectstatic:
        command: 'python manage.py collectstatic --noinput'
